<form method="POST">
	User Name: <input type="text" name="user_name">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="submit" value="Login">
</form>